<div class="navbar justify-content-end row py-4">
    <div class="nav-item col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1" style="text-align: center;">
        <a class="link-home">HOME</a>
    </div>
    <div class="nav-item col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1" style="text-align: center;">
        <a class="link-sobre">SOBRE</a>
    </div>
    <div class="nav-item col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1" style="text-align: center;">
        <a class="link-contato">CONTATO</a>
    </div>
    <div class="nav-item col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1">
    </div>
</div>
