footer {
    background-color: #95B1AF;
}

.link_social_media {
    background-color: #B7C9C8;
    height: 35px;
    width: 35px;
    padding: 5px;
}

a {
    text-decoration: none;
}

a,
p {
    color: white;
}

.container-fluid {
    margin: 0;
}

@media screen and (max-width: 991px) {
    .guia_footer {
        text-align: center;
    }
}
