<footer class="row container-fluid">
    <div class="guia_footer mt-2 mt-sm-2 mt-md-2 my-lg-4 my-xl-4 my-xxl-4 col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 col-xxl-10">
        <p class="my-auto">
            <a class="mx-1" href="#">Home</a>

            <a class="mx-1" href="#">About</a>

            <a class="mx-1" href="#">Contact</a>
        </p>
        <p class="ms-lg-1  my-auto">Meu portfólio &copy; 2021</p>
    </div>
    <div class="my-2 my-sm-2 my-md-2 my-lg-auto my-xl-auto my-xxl-auto col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2" style="text-align: center;">
        <a [href]="twitterurl"><img class="link_social_media mx-1" [src]="twtterimg" alt="twitter"></a>
        <a [href]="linkedinurl"><img class="link_social_media mx-1" [src]="linkedinimg" alt="linkedin"></a>
        <a [href]="githuburl"><img class="link_social_media mx-1" [src]="githubimg" alt="github"></a>
    </div>
</footer>
