<footer class="footer-distributed">

    <div class="footer-right">
        <a [href]="twitterurl"><img [src]="twtterimg" alt="twitter"></a>
        <a [href]="linkedinurl"><img [src]="linkedinimg" alt="linkedin"></a>
        <a [href]="githuburl"><img [src]="githubimg" alt="github"></a>
    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a class="link-1" href="#">Home</a>

            <a href="#">About</a>

            <a href="#">Contact</a>
        </p>

        <p>Portifólio - Felipe Augusto &copy; 2021</p>
    </div>

</footer>
